<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Favori</title>
</head>

<body>
    <h1>Détails du Favori</h1>
    <p>ID: {{ favoris.id_favoris }}</p>
    <p>Nom: {{ favoris.nom }}</p>
    <p>Informations: {{ favoris.data_json }}</p>
    <a href="/favoris/{{ favoris.id_favoris }}">Supprimer</a>
    <a href="/favoris/modification/{{ favoris.id_favoris }}">
    <button>Modifier</button></a>
</body>

<script>
    document.getElementById('deleteForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Empêche l'envoi du formulaire par défaut

        fetch(this.action, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erreur lors de la suppression du favori');
            }
            // Gérer la réponse en fonction de vos besoins
            // Par exemple, rediriger vers une autre page
            window.location.href = '/favoris'; // Rediriger vers une autre page après la suppression
        })
        .catch(error => {
            console.error('Erreur:', error);
            // Gérer l'erreur, afficher un message à l'utilisateur, etc.
        });
    });
</script>

</html>